@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
html, body, button, div, span,
h1, p, img, a, footer,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

html, body, div, span,
h1, p, img, footer,
section {
  cursor: default;
}

body {
  line-height: 1;
}

a, button {
  cursor: pointer;
}

footer, section {
  display: block;
}

.app {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1c232b;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.app__main {
  display: none;
}

@media (min-width: 375px) {
  .app__main {
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f2ebe3;
  }
}

.app__footer {
  color: #FFF;
}

@media (min-width: 375px) {
  .app__footer {
    color: #000;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
  font-size: 11px;
  text-align: center;
}

.footer__link {
  color: #496aee;
}

@media (min-width: 375px) {
  .footer__link {
    color: #3e52a3;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px;
}

@media (min-width: 1440px) {
  .product {
    padding: 32px;
  }
}

.product__button {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  height: 48px;
  width: 100%;
  background-color: #3c8067;
  border-radius: 8px;
  color: white;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

.product__button-icon {
  font-size: 1.1em;
}

.product__button:hover {
  background-color: #1b4132;
}

.product__button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.product__category, .product__description, .product__price--old {
  color: #6c7289;
}

.product__category {
  letter-spacing: 5px;
  font-size: .85em;
  text-transform: uppercase;
}

.product__description {
  line-height: 23px;
}

.product__price--current, .product__title {
  font-family: 'Fraunces', serif;
  font-size: 2.25em;
}

.product__price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__price--current {
  color: #3c8067;
}

.product__price--old {
  font-size: .9em;
  text-decoration: line-through;
}

.product__title {
  line-height: 1em;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 610px;
  width: 345px;
  margin: 28px 0;
  border-radius: 10px;
  background-color: white;
}

.product-card__image {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.product-card__section {
  width: 100%;
}

.product-card__section:first-child {
  height: 244px;
}

.product-card__section:last-child {
  height: 366px;
  border-radius: 0 0 10px 10px;
}

@media (min-width: 1440px) {
  .product-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 450px;
    width: 600px;
    margin: 0;
  }
  .product-card__image {
    border-radius: 10px 0 0 10px;
  }
  .product-card__section:first-child, .product-card__section:last-child {
    height: 100%;
    width: 50%;
  }
  .product-card__section:first-child {
    border-radius: 10px 0 0 10px;
  }
  .product-card__section:last-child {
    border-radius: 0 10px 10px 0;
  }
}
/*# sourceMappingURL=main.css.map */